@import "tailwindcss";

:root {
  --clr-white: #fff;
  --clr-lightest-grey: #f8f9fa;
  --clr-very-light-grey: #8ecae6;
  --clr-medium-dark-grey: #6c757d;
  --clr-dark-grey: #495057;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: var(--clr-very-light-grey); */
}

.icons {
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: var(--clr-medium-dark-grey);
}

.button-style-1 {
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  border: 0;
  background-color: green;
  color: white;
  width: 160px;
}

.login-register-btn-div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  width: 100vw;
}

.register-btn {
  width: 40px;
  text-decoration: none;
  color: var(--clr-dark-grey);
  margin-right: 20px;
}

.login-btn {
  width: 40px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--clr-dark-grey);
}

.main-header-div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-very-light-grey);
    box-shadow: 2px 2px 2px black; */
}

.main-header-title-div {
  background-color: var(--clr-very-light-grey);
  width: 100vw;
  text-align: center;
  /* box-shadow: 1px 1px 5px 1px var(--clr-dark-grey); */
  /* margin-bottom: 10px; */
  position: relative;
  z-index: 1;
}

.main-header-title {
  color: #023e8a;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.sort-filter-header-div {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
  height: 32px;
  background-color: var(--clr-very-light-grey);
}

.sort-filter-header-sort-category-div {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
}

.sort-filter-header-cart-favourites-div {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  line-height: 10px;
  padding-right: 10px;
}

.login-and-register-header-div {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  gap: 10px;
  height: 32px;
  z-index: 2;
  padding-right: 10px;
  width: 100vw;
  background-color: var(--clr-very-light-grey);
}

.dropdown {
  border: none;
  background-color: var(--clr-very-light-grey);
}

.product-page-background-div {
  background-color: var(--clr-very-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.favourites-page-container {
  background-color: var(--clr-very-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favourites-page-link-title-div {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;

  width: 100vw;
}

.favourites-list {
  background-color: white;
  width: 90%;
}

.favourite-item-card {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid lightgrey;
}

.favourite-item-image {
  min-width: 100px;
  height: 100px;
  object-fit: contain;
}

.favourite-item-details {
  width: 100%;
}

.favourite-item-link {
  text-decoration: none;
  color: black;
}

@media (min-width: 800px) {
  .favourites-list {
    width: 500px;
    margin: 0px auto;
  }
}

.cart-page-sub-title {
  background-color: white;
  width: 90%;
  margin-bottom: 0;
  padding: 20px;
}

@media (min-width: 800px) {
  .cart-page-sub-title {
    width: 500px;
  }
}

.cart-container {
  background-color: var(--clr-very-light-grey);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-home-btn-div {
  width: 100vw;
}

.cart-page-header-link {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
  text-decoration: none;
}

.cart-page-sub-title {
  text-align: center;
  width: 90%;
  background-color: white;
}

.cart-items-div {
  width: 90%;
  background-color: white;
}

.cart-item {
  display: flex;
  border-bottom: 2px solid gray;
  padding: 20px 10px;
  gap: 20px;
}

.cart-item-image {
  min-width: 100px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-item-title {
  margin: 0;
}

.cart-item-price {
  margin: 0;
}

.cart-item-quantity-controls {
  display: flex;
  align-items: center;
  /* gap: 5px; */
}

.quantity-btn {
  height: 25px;
  width: 30px;
  font-size: larger;
}

.remove-btn {
  line-height: 0px;
}

.cart-item-quantity {
  height: 25px;
  width: 30px;
  text-align: center;
  line-height: 25px;
}

.cart-page-clear-cheackout-btn-div {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
}

.cart-total {
  text-align: end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.clear-btn {
  background-color: darkred;
}

@media (min-width: 800px) {
  .cart-items-div {
    width: 500px;
    margin: 0px auto;
  }
  .cart-page-sub-title {
    width: 500px;
  }
}
