@import "tailwindcss";

:root {
  --clr-white: #fff;
  --clr-lightest-grey: #f8f9fa;
  --clr-very-light-grey: #8ecae6;
  --clr-medium-dark-grey: #6c757d;
  --clr-dark-grey: #495057;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: var(--clr-very-light-grey); */
}

.button-style-1 {
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  border: 0;
  background-color: green;
  color: white;
  width: 160px;
}

.main-header-title {
  color: #ffffff;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.dropdown {
  border: none;
  background-color: var(--clr-very-light-grey);
}

/* Cart Buttons */

.cart-page-clear-cheackout-btn-div {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
}

.cart-total {
  text-align: end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.clear-btn {
  background-color: darkred;
}
