.favourites-page-container {
  background-color: var(--clr-very-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favourites-page-link-title-div {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;

  width: 100vw;
}

.cart-page-sub-title {
  background-color: white;
  width: 90%;
  margin-bottom: 0;
  padding: 20px;
}

@media (min-width: 800px) {
  .cart-page-sub-title {
    width: 500px;
  }
}
