.product-page-footer-div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  gap: 20px;
  background-color: white;
  width: 90%;
  padding-bottom: 20px;
}

@media (min-width: 800px) {
  .product-page-footer-div {
    width: 500px;
  }
}
