.login-and-register-header-div {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  gap: 10px;
  height: 32px;
  z-index: 2;
  padding-right: 10px;
  width: 100vw;
}
