.main-header-div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-very-light-grey);
  box-shadow: 2px 2px 2px black; */
}

.main-header-title-div {
  background-color: var(--clr-very-light-grey);
  width: 100vw;
  text-align: center;
  box-shadow: 1px 1px 5px 1px var(--clr-dark-grey);
  /* margin-bottom: 10px; */
  position: relative;
  z-index: 1;
}

.main-header-title {
  color: rgb(16, 16, 236);
}
