.product-page-header-div {
  background-color: var(--clr-very-light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 0px 10px;
  /* padding-top: 25px; */
  /* margin-top: 10px; */
  width: 100vw;
  margin-bottom: 20px;

  /* border: 1px solid red; */
}

.product-page-header-backbtn-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  gap: 5px;
}

.product-page-header-title {
  padding: 0;
  margin: 0;
}

.product-page-header-favbtn-cartbtn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  gap: 5px;
}

.back-arrow {
  font-size: 30px;
}
