.individual-product-info-div {
  width: 90%;
  /* border: 1px solid gray; */
  padding: 20px;
  background-color: white;
}

.individual-product-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.individual-product-title-desc-div {
  border-bottom: 1px solid grey;
}

.individual-product-title {
  font-weight: lighter;
  font-size: x-large;
}

.individual-product-price-rating-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.individual-product-price {
  font-size: x-large;
  font-weight: bolder;
  margin: 0;
}

.individual-product-rating-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media (min-width: 800px) {
  .individual-product-info-div {
    width: 500px;
    margin: 0px auto;
  }
}
