/* .store-items-container {
  background-color: var(--clr-very-light-grey);
} */

/* .product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  background-color: var(--clr-very-light-grey);
  padding-left: 50px;
  padding-right: 50px;
} */

/* .product-link {
  text-decoration: none;
  color: black;
} */

/* .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /border: 1px solid var(--clr-medium-dark-grey); 
  border-radius: 2px;
  width: 196px;
  height: 340px;
  padding: 10px;
  background-color: var(--clr-white);
} */

/* .product-img-div {
  width: 110px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 0px;
  border: 1px solid red;  
} */

/* .product-img {
  width: 120px;
  height: 160px;
  object-fit: contain;
   border: 1px solid red; 
} */

/* .product-info-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 140px;
} */
/* 
.product-title {
  font-weight: lighter;
  font-size: medium;
  text-decoration: none;
  color: var(--clr-dark-grey);
   border: 1px solid red; 
  width: 196px;
  padding: 0 10px 0 10px;
  text-align: center;
} */
/* 
.store-item-price {
  font-weight: bolder;
  font-size: 1.3rem;
  border: 1px solid red; 
  color: var(--clr-very-light-grey);
  margin-top: 0;
  text-align: center;
} */

.product-rating-div {
  display: flex;
  align-items: end;
  gap: 5px;
  width: 150px;
  font-size: 1rem;
  width: 196px;
  /* border: 1px solid red; */
}

.product-rating-div > p {
  margin: 0;
  text-decoration: none;
  color: var(--clr-dark-grey);
}

.faStar {
  color: gold;
}

.store-items-total {
  text-align: center;
  color: var(--clr-dark-grey);
  margin: 0;
  padding: 10px 0px;
}

/* @media (width: 1024px) {
  .product-card {
    width: 24vw;
  }
}

