:root {
  --clr-very-light-grey: #e9ecef;
  --clr-medium-dark-grey: #6c757d;
  --clr-dark-grey: #495057;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.icons {
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: var(--clr-medium-dark-grey);
}

.button-style-1 {
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  border: 0;
  background-color: green;
  color: white;
  width: 200px;
}
